html {
  box-sizing: border-box;
  font-size: 67.5%;
}

*,
::before,
::after {
  padding: 0;
  margin: 0;
}

body.main {
  color: white;
  background-color: #000331;
  background-image: url("/images/bck2.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}
body.main a {
  color: rgb(195, 216, 216);
}
body.main h1,
h2 {
  color: #fff;
  font-family: Lato, Helvetica, sans-serif;
  font-weight: 700;
  margin: 6.4rem 0 3.2rem;
}

h1 {
  font-size: 3.2rem;
  line-height: 3.6rem;
}



a {
  font-weight: 300;
  color: #1565c0;
  text-decoration: none;
}
a:focus,
a:hover {
  text-decoration: underline;
}
p {
  font-family: Lato, Helvetica, sans-serif;
  font-size: 20px;
  margin: 2rem 0;
}

.content {
  flex: 1;
  display: flex;
  margin-top: 1.6rem;
  margin-bottom: 3.2rem;
}

.avatar img {
  width: 20rem;
  height: 200px;
  border-radius: 50%;
}

.centered {
  display: flex;
  align-items: center;
  justify-content: center;
}
.centered .about {
  text-align: center;
}
.centered .about h1 {
  margin-top: 2rem;
  margin-bottom: 0.5rem;
}
.centered .about h2 {
  margin-top: 1rem;
  margin-bottom: 0.5rem;
  font-size: 2.4rem;
}


.navigation-wrapper {
  display: flex;
  flex-direction: column;
  min-height: 20vh;
  width: 100%;
}
.container {
  margin: 0 auto;
  max-width: 90rem;
  width: 100%;
  padding-left: 2rem;
  padding-right: 2rem;
}

.navigation {
  height: 6rem;
  width: 100%;
  position: fixed;
  background-color: #000331;
}
.navigation a {
  display: inline;
  font-size: 1.6rem;
  font-family: Lato, Helvetica, sans-serif;
  font-weight: 700;
  line-height: 6rem;
  color: #212121;
}
.navigation a:hover,
.navigation a:focus {
  color: #1565c0;
}
.navigation .navigation-title {
  letter-spacing: 0.1rem;
  text-transform: inherit;
}
.navigation .navigation-list {
  float: right;
  list-style: none;
  margin-bottom: 0;
  margin-top: 0;
}

.navigation .navigation-list .navigation-item {
  float: left;
  margin: 0;
  position: relative;
}

.navigation .navigation-list .navigation-item a {
  margin-left: 1rem;
  margin-right: 1rem;
}

.skills {
  color: white;
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-top: 1px solid white;
}

#projects {
  border-top: 1px solid white;
}

#projects .projects-container img {
  height: 150px;
}
#projects .projects-container p,
h2 {
  color: white;
  text-align: center;
}
#projects .projects-container p,
h2 {
  font-size: 2.5em;
}

.projects-container {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  max-width: 810px;
  margin: 20px auto 0;
}

.project-title {
  max-width: 250px;
  margin: 10px;
  text-decoration: none;
}

.project-title img {
  max-width: 100%;
}

input[type="text"],
textarea {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="email"] {
  width: 50%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

input[type="submit"] {
  background-color: #04aa6d;
  color: white;
  padding: 12px 20px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #45a049;
}

#form {
  border-radius: 5px;
  background-color: #f2f2f2;
  padding: 20px;
  padding-left: 35%;
}

#form h3 {
  font-size: 20px;
  font-family: Lato, Helvetica, sans-serif;
  color: rgb(1, 1, 29);
}

.footer {
  display: flex;
  align-items: center;
  justify-content: center;
  background-color: #000331;
}

.footer ul {
  list-style: none;
  margin: 3rem 0 1rem;
  padding: 0;
}
.footer ul li {
  display: inline-block;
  position: relative;
}
.footer ul li a {
  color: #fff;
  text-transform: uppercase;
  margin-left: 1rem;
  margin-right: 1rem;
  font-size: 1.6rem;
}
.footer ul li a:hover,
.footer ul li a:focus {
  color: #1565c0;
}

.footer ul li a i {
  font-size: 3.2rem;
}

.copyright{
   background-color: #000331;
   margin: 0;
   text-align: center;
}